@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira:wght@300&display=swap');

body {
  background-image: url("/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/*Nav*/
.nav-style {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  font-family: 'Source Code Pro', monospace;
}

.nav-style ul {
  display: flex;
  list-style-type: none;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

.nav-style ul li a {
  position: relative;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  padding: 8px;
  margin-top: 8px;
  display: block;
  font-weight: bold;
}

.nav-style ul li a::after {
  content: '';
  transition: all 0.2s ease-in-out;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  transform: scaleX(.3);
  opacity: 0;
  border-bottom: 2px solid #1177fd;
}

.nav-style ul li a:hover::after {
  content: '';
  opacity: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  transform: scaleX(1);
  border-bottom: 2px solid #1279ff;
}

.toggleBtn {
  display: none;
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 10px 4px;
  outline: none;
  border: none;
  background: transparent;
}

.nav-style button span {
  background: white;
  transition: all 0.2s ease-in-out;
  width: 26px;
  height: 1px;
  border: 2px solid white;
  margin-bottom: 6px;
  display: block;
  border-radius: 2px;
}

.nav-style button.collapsed span:nth-child(1) {
  transform: translate(0px, 10px) rotate(45deg);
}

.nav-style button.collapsed span:nth-child(2) {
  transform: scaleX(0);
  opacity: 0;
}

.nav-style button.collapsed span:nth-child(3) {
  transform: translate(0px, -10px) rotate(-45deg);
}

.logo {
  text-align: center;
  z-index: 1;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 40px;
  text-decoration: none;
}

.logo:hover {
  color: #6db8fd;
}

.cv {
  font-size: 15px !important;
}

@media screen and (max-width: 500px) {
  .nav-style {
    height: auto;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .nav-style button {
    display: block;
  }

  .nav-style ul {
    width: 100%;
    flex-direction: column;
    max-height: 0;
    margin: 0;
    padding: 0;
  }
}

.nav-style ul.expanded {
  max-height: 100vh;
}

/*Main*/

#main {
  height: 80vh;
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: 'Source Code Pro', monospace;
}

.mainInfo {
  margin: auto;
}

.name {
  overflow: hidden;
  white-space: nowrap;
  border-right: 0.15em solid #005fb8;
  animation: typing 4s steps(38) 1s 1 normal both, blink 1s steps(1) infinite;
  font-weight: bold;
}

.subTitle {
  display: block;
  z-index: -1;
  display: block;
  overflow: hidden;
  background: linear-gradient(to right, rgba(252, 0, 0, 0) 20%, rgba(255, 255, 255, 0) 40%, #005ecaa6 50%, #005ecaa6 55%, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 0) 100%);
  background-size: 200% auto;
  animation: shine 6s linear infinite;
  border-radius: 90px;
}

.iconMain {
  font-size: 40px;
  color: rgb(255, 255, 255);
  margin: 5px;
  transition: color 0.1s linear 0.2s;
}

.iconMain:hover {
  color: #6db8fd;
  transform: scale(7) !important;
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

/*About Me*/

#aboutMe {
  background-color: rgba(17, 17, 17, 0.815);
  text-align: center;
  font-family: 'Source Code Pro', monospace;
  padding-bottom: 50px;
  margin: 0 !important;
}

.profileImg {
  height: 35vh;
  margin: 50px 0 25px 0;
}

.aboutHr {
  border: 1px solid transparent;
  border-image: linear-gradient(to left, #3acfd5 0%, #3a4ed5 100%) 2;
  border-radius: 100% !important;
}

.aboutHr1 {
  border: 1px solid transparent;
  border-image: linear-gradient(to left, #3a4ed5 0%, #3acfd5 100%) 2;
  border-radius: 100% !important;
}

.aboutMeInfo {
  color: #ffffff;
  font-size: 20px;
}

.skillsBtn {
  color: white;
  text-decoration: none;
  margin-bottom: 25px;
}

.skills {
  color: white;
}

/*Portfolio*/

#portfolio {
  font-family: 'Saira', sans-serif;
  background-color: #003363;
  padding: 50px 0;
}

.portfolio-title {
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  padding-top: 20px;
  font-size: 50px;
  text-transform: uppercase;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 !important;
  padding: 0;
  justify-content: center
}

.cards_item {
  display: flex;
  padding: 1rem;
}

.card {
  text-align: center;
  background-color: rgb(221, 229, 255) !important;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: center !important;
  width: 25rem;
  margin: 10px
}

.makeWith {
  font-size: 14px
}

/*Contact*/

#contact{
  background-color:rgba(0, 0, 0, 0.25);
  padding: 50px 0;
  font-family: 'Source Code Pro', monospace;
}

.contact-container{
  max-width: 600px;
  margin: 0 auto;
  padding: 0 1rem;
  color: white;
}

.contact-title{
  text-align: center;
}

[type=text],
[type=email],
[type=url],
select,
textarea {
  display: block;
  padding: .5rem;
  background: transparent;
  width: 100%;
  max-width: 100%;
  border: 1px solid #cdcdcd;
  border-radius: 4px;
  font-size: .95rem;
}

[type=text]:focus,
[type=email]:focus,
[type=url]:focus,
select:focus,
textarea:focus {
  outline: none;
  border: 1px solid #1E6BD6;
}

label {
  font-weight: 600;
  font-size: .9rem;
  display: block;
  margin: .5rem 0;
}

[type=submit] {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  cursor: pointer;
  margin: .29rem 0;
  padding: .5rem 1rem;
  border: 1px solid #1E6BD6;
  border-radius: 18px;
  background: #1E6BD6;
  color: white;
  font-weight: 600;
  text-decoration: none;
  font-size: .95rem;
}

/*Footer*/

footer {
  text-align: center;
  color: white;
}

.footerIcon {
  font-size: 20px;
  list-style: none;
  display: flex
}